<div class="container" id="objetivoModal">
  <span class="close" onclick="closeModal('objetivoModal')">&times;</span>

  <div class="modal-body">
    <h2>Objetivo do Coletivo AYA</h2>
    <p style="text-align: center;">
      O COLETIVO AYA tem como objetivo central salvaguardar, transmitir e preservar as tradições, saberes e fazeres da cultura negra [...]
    </p>

    <p><strong>Objetivos Específicos:</strong></p>
    <ul>
      <li>✓ Valorizar e difundir a cultura pan-africanista como forma de manifestação e expressão;</li>
      <!-- ... -->
    </ul>
  </div>
</div>
